#RewriteEngine On
#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} ^www\. [NC]
#RewriteRule ^(.*)$ https://giacomo.one/$1 [L,R=301]

RewriteEngine On

# Force HTTPS and non-www domain
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^(.*)$ https://giacomo.one/$1 [L,R=301]

# Serve index.html for all routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
