@import 'sass-mq';
@import './variables';

.ReactModal {
    &__Overlay {
        background-color: rgba($bg, 0.6) !important;
        z-index: 99;
    }

    &__Content {
        border: 1px solid rgb(204, 204, 204) !important;
        background: $bg !important;
        padding: 24px !important;
        color: $white;
        border-radius: 12px !important;
        text-align: center;
        font-size: 14px;
        inset: auto 24px auto 24px !important;
        transform: translateY(-50%);
        top: 50% !important;
        max-height: 90%;

        .close-btn {
            position: fixed;
            top: 10px;
            right: 4px;
            font-size: 20px;
            color: $white;
            background: none;
            border: none;
            appearance: none;
            padding: 0;
            outline: none;
            width: 32px;
            height: 32px;
        }
    }
}
