@import 'sass-mq';
@import './variables';

.playlist {
    padding: 64px 20px 0;

    h4 {
        color: $white;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
    }

    &__song {
        font-size: 16px;
        color: $white;
        padding: 24px 0 24px 0;
        border-bottom: 0.5px solid $lightPurple;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        text-transform: capitalize;
        position: relative;

        &.is-training {
            padding-left: 24px;

            .tag {
                display: flex;
            }
        }

        .tag {
            display: none;
            position: absolute;
            background: darkred;
            padding: 4px 8px;
            font-size: 10px;
            font-weight: bold;
            left: 0;
            top: 4px;
            bottom: 4px;
            width: 12px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            span {
                transform: rotateZ(-90deg);
            }
        }
    }

    &__detail {
        display: flex;
        flex-direction: column;

        div {
            margin-bottom: 6;
        }
        
        span {
            font-size: 12px;
            opacity: .7;
            font-style: italic;
        }
    }

    &__btn {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 220px;
        margin: 28px auto;
        display: block;
        border-radius: 120px;
    }
}
