@import 'sass-mq';
@import './variables';

.detail {
    padding: 60px 20px 80px;
    color: $white;

    &__heading {
        margin-top: 24px;
        display: flex;
        gap: 16px;
        justify-content: space-between;

        h2 {
            margin: 0;
            margin-bottom: 8px;
            font-size: 20px;
        }
    
        p {
            margin: 0;
            font-size: 14px;
            color: $lightPurple;
        }

        button {
            font-size: 24px;
            background: none;
            appearance: none;
            border: none;
            color: white;
            padding: 0;
            width: 30px;
        }
    }
}
.chord {
    padding: 12px 8px;
    margin: 16px 0;
    font-size: 12px;
    font-weight: 400;
    background: rgba($white, 0.1);
    border-radius: 12px;

    &__numbers {
        display: flex;
        overflow: auto;

        display: flex;
        height: 36px;
        align-items: center;
        padding: 0;
        // justify-content: space-between;

        .arca {
            margin-bottom: auto;
        }

        .ira {
            margin-top: auto;

            &.paralell {
                margin-left: -100%;
            }
        }

        .divider {
            font-size: 14px;
            margin: 0 2px;
            color: $lightPurple;

            &.parallel {
                display: none;
                opacity: 0;
            }

            &.parallel + .ira {
                transform: translateX(-100%);
                // margin-left: -15px;
            }

            @include mq($from: xsmall, $and: '(orientation: landscape)') {
                margin: 0 2px;
            }
        }
    }

    &__lyrics {
        font-style: italic;
    }
}
