// Define basic breakpoints
$mq-breakpoints: (
  xsmall: 320px,
  small: 768px,
  medium: 1024px,
  mdlandscape: 1116px,
  large: 1280px
);

// Colors vars
$bg: #0B091C;
$purple: #5B00B8;
$darkPurple: #05040E;
$lightPurple: #888798;
$inputBg: #1A182A;

$white: #FFFFFF;
$black: #000000;
$gray: #D9D9D9;
